#continent-select {
    border: 0;
    background: rgb(231, 229, 229);
    width: 190px;
    margin-left: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 15px;
}

#continent-selct:focus {
    outline: none;
}

#continent-select:hover {
    background: rgb(241, 240, 240);
    transition: 300ms ease;
}

.continent-option {
    padding: 5px;
}

