#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}


#country-radio {
    /* max-width: 20%; */
    margin: 0;
    /* padding-right: 10px; */
    /* height: 450px; */ 
    /* height: 413px; */
    /* height: 350px; */
    height: 267px;
    overflow-y: scroll;
    padding-left: 25px;
}

.checkboxes {
    /* width: 45%; */
    margin: 0;
    display: flex;
    /* padding-bottom: 2px; */
    align-items: center;
}

.box-label {
    font-size: 11px;
}

.checkboxes:first-child {
    padding-top: 4px;
}

.radio-chart {
    max-width: 15%;
    margin: 0;
    padding-right: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
    /* padding-top: 40px; */
}

.chart-container {
    display: flex;
}

.selector-title {
    margin-bottom: 4px;
}

.continent-option {
    font-size: 25px;
}

.checkbox-title, .selector-title {
    /* font-size: 24px; */
    font-size: 17px;
    /* margin: 5px; */
    border-bottom: 1px solid rgb(219, 216, 216);
    /* box-shadow: 0 2px 2px #dbd8d8; */
}

#country-checkoxes {
  margin: 0px 0 5px 0;
}

.chart-body {
  padding-top: 20px;
}

.chart-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 0 auto;
}

#chart-area {
    /* padding-top: 30px; */
}

.chart-buttons {
    /* padding-top: 15px; */
    /* margin-right: 20px; */
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
    align-content: center;
    padding-bottom: 10px;
}

#clear-checks {
    margin-bottom: 5px;
}

#sliderRange {
    /* width: 400px; */
    width: 370px;
}

.rangeslider {
    padding-left: 80px;
}

.each-box {
    display: flex;
    padding-right: 2px;
}

.frame::-webkit-scrollbar {
    -webkit-appearance: none;
    cursor: pointer;
}

.frame::-webkit-scrollbar:vertical {
    width: 11px;
    cursor: pointer;
}

.frame::-webkit-scrollbar:horizontal {
    height: 15px;
    cursor: pointer;
}

.frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    /* border: 2px solid white; should match background, can't be transparent */
    background-color: #A7A1A1;
    opacity: 0.5;
    cursor: pointer;
}

.frame::-webkit-scrollbar-thumb:hover {
  background: rgb(209, 203, 203);
  cursor: pointer;
}

.frame::-webkit-scrollbar-track { 
    /* background-color: #fff;  */
    background-color: #F1F0F0;
    border-radius: 8px; 
} 

.input-checkbox {
    cursor: pointer;
}

.custom-select {
    padding: 1px 0 10px 0;
}

.footer {
    margin-top: -15px;
    /* border-top: 1px solid rgb(219, 216, 216); */
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer h3 {
    color: rgb(219, 216, 216);
    font-size: 11px;
    padding-bottom: 5px;
}

/* .description {
    overflow: hidden;
    width: 100%;
} */

.description {
    overflow: hidden;
    width: 100%;
    background: #F1F0F0;
    border-radius: 3px;
    font-weight: 300;
    /* font-size: 11px; */
    font-size: 9px;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.description h1 {
    padding: 10px;
    line-height: 1.2;
}