#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.radio-chart {
    display: flex;
}

#country-radio {
    max-width: 20%;
    margin: 0;
    padding-right: 10px;
}