#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: block;
}


#country-radio {
    /* max-width: 20%; */
    margin: 0;
    /* padding-right: 10px; */
    height: 450px;
    overflow-y: scroll;
}

/* #country-radio::-webkit-scrollbar {
    -webkit-appearance: none;
} */

.checkboxes {
    /* width: 45%; */
    margin: 0;
}

.radio-chart {
    width: 20%;
    margin: 0;
    padding-right: 10px;
}

.chart-container {
    display: flex;
}

.checkbox-title, .selector-title {
    font-size: 27px;
    padding: 5px;
}

#country-checkoxes {
  margin: 0px 0 5px 0;
}

.chart-body {
  display: flex;
  justify-content: center;
}

#chart-area {
    /* padding-top: 30px; */
}

.chart-buttons {
    padding-top: 10px;
    /* margin-right: 20px; */
    display: flex;
    justify-content: space-between;
    /* width: 90%; */
    align-content: center;
}

#clear-checks {
    margin-bottom: 5px;
}

#sliderRange {
    width: 400px;
}

.rangeslider {
    padding-left: 80px;
}